.how-we-work {
    display: flex;
    flex-direction: column;
    width: 300px;
    h2 {
        @include h1-text;
        margin-bottom: 60px;
    }
    @media (min-width: 700px) {
        width: 600px;
    }
    @media (min-width: 1000px) {
        width: 900px;
    }
    @media (min-width: 1400px) {
        width: 1300px;
    }
}
.how-we-work__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.how-we-work__info-item {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    img {
        margin-right: 33px;
    }
    p {
        @include body-regular-text;
        width: 470px;
    }
}